@page "/weather"
@using Components.Model
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (WeatherForecast forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    // We create a list where we store our data for the website
    private List<WeatherForecast>? forecasts;

    // When page loads it starts the asynchronous OnInitializedAsync method, 
    // where we call our asynchronous method GetWeatherForecastsAsync that returns 
    // the data from our database.
    protected override async Task OnInitializedAsync()
    {
        forecasts = await Sql.GetWeatherForecastsAsync("SELECT * FROM WeatherForecast");
    }
}
